@use '../colors';
@use '../fonts';

.container {
	width: 100vw;
	margin-top: 2rem;
}

.listTitleContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 2rem;
	padding-right: 2rem;

	.listTitle {
		color: colors.$primary-text;
		font-family: fonts.$playfair-display;
		font-size: 1.3rem;
		font-weight: bold;
	}
}

.itemList {
	margin-top: 1rem;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.icon {
	* {
		fill: colors.$primary-text;
	}
}

.arrowButton {
	color: inherit;
	border: 0;
	padding: 1rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	opacity: 1;
	transition: opacity 50ms;

	&:disabled {
		opacity: 0;
	}
}

.left {
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0.8881302521008403) 0%,
		rgba(0, 0, 0, 0) 100%
	);
}

.right {
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.8881302521008403) 100%
	);
}
