$yellow-lumine: #fef200;
$white: #fff;
$background: #11110f;
$card-background: #202020;
$blue-video: #44e4e4;
$neutral-solid: #bfbfbf;
$primary-text: $white;
$secondary-text: #11110f;
$scroll-default: #ded9d9;
$scroll-border: #8a8989;
$scroll-hover: #717171;

$primary-color: $yellow-lumine;
$secondary-color: $white;
